body {
    background-color: #141414;
}

.all-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.one-button {
    color:white ;
    background-color: red;
    padding: 5px 10px;
    font-size: 20px;
    cursor:pointer;
    margin-left: 5px;
    margin-right:5px;
}

.all-movies {
    margin: 0 auto;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.one-movie {
    width: 300px;
    box-shadow: 0px 0px 20px black;
    color: white;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}

.one-movie:hover {
    transform: scale(1.04);
}

.one-movie img {
    height: 170px;

}

.one-movie h2, p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}